<html>

<head>
    <script src="js/angular.min.js"></script>
    <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
</head>

<body>
    <div ng-app="todoApp" ng-controller="todoController" ng-init="disabled=true">
        <table border="1" ng-if="todos.length>0">
            <tr>
                <th><a href="#" ng-click="orderByField='serial'; reverseSort = !reverseSort">#<span ng-hide=reverseSort>^</span></a></th>              
                <th><a href="#" ng-click="orderByField='text'; reverseSort = !reverseSort">Todo<span ng-hide=reverseSort>^</span></a></th>
                <th><a href="#" ng-click="orderByField='isCompleted'; reverseSort = !reverseSort">Status<span ng-hide=reverseSort>^</span></a></th>                
                <th>-</th>
                <th><a href="#" ng-click="orderByField='cDate'; reverseSort = !reverseSort">Completion date<span ng-hide=reverseSort>^</span></a></th>                
            </tr>
            <tr ng-repeat="todo in todos |orderBy:orderByField:reverseSort">
                <td>{{todo.serial}}</td>
                <td>
                    <span ng-if="isCompleted"><strike>{{todo.text}}</strike></span>
                    <span ng-if="!isCompleted">{{todo.text}}</span>                
                </td>                
                <td><input type="checkbox" ng-model="isCompleted" ng-disabled="isCompleted" ng-click="updateStatus(todo)" />{{todo.isCompleted?"Completed":"Pending"}}</td>
                <td><input type="button"  ng-model="isCompleted" ng-disabled="isCompleted" value="X" / ng-click="delete(todo)"></td>
                <td><label>{{todo.cDate}}</label></td>
            </tr>
        </table>
        <!--<ul ng-repeat="todo in todos">
                <li>{{todo.serial}}) {{todo.text}}</li>
            </ul>-->
        <br>
        <input type="text" ng-model="todoText" placeholder="Enter new todo!" ng-change="enableAddButton()">
        <input type="button" value="+" ng-disabled="disabled" ng-click="add()" />
        <label style=color:red>{{errorMsg}}</label>
    </div>

    <script>
        var app = angular.module("todoApp", []);
        app.controller("todoController", function ($scope) {
            $scope.todos = [];

            $scope.enableAddButton = function () {
                $scope.disabled = $scope.todoText==null ? true : false
                if($scope.disabled==false){
                    $scope.errorMsg =null;
                }                 
            };

            $scope.updateStatus = function (todo) {
                var index = $scope.todos.indexOf(todo);
                if (index > -1) {
                    var markedTodo = $scope.todos[index];
                    markedTodo.isCompleted = true;    
                    markedTodo.cDate = new Date();                
                } else {
                     $scope.errorMsg = "Status update failed!";
                }
            };

            $scope.add = function () {
                var newTodo = {
                    "serial": $scope.todos.length + 1,
                    "text": $scope.todoText,
                    "isCompleted": false,
                    "cDate":""
                };
                var existingTodoTexts = $scope.todos.map((addedTodos) => addedTodos.text);
                if (!existingTodoTexts.includes($scope.todoText)) {
                    $scope.todos.push(newTodo);
                }
                else{
                    $scope.errorMsg = "Todo already exists!";                     
                 }                   
                $scope.todoText = null;
                $scope.enableAddButton();
            };
            $scope.delete = function (todo) {
                var index = $scope.todos.indexOf(todo);
                $scope.todos.splice(index, 1);
            };
        });
    </script>
</body>

</html>